<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pages</title>
</head>
<body>
    <p><a href="/pages">All pages</a></p>
    <form th:action="@{parser/parse}" th:object="${page}" method="post">
        <label for="address">Address</label>
        <input type="text" th:field="*{address}" id="address" placeholder="https://www.example.com">
        <input type="submit" value="Parse">
        <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</td>
    </form>
</body>
</html>